body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/background.png);
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
    border: 3px solid lightblue;
}

.header {
    padding: 20px
}
.header .judul {
    font-size: 48px;
    font-weight: bold;
}


.menu_3 {
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    background-color: #0b6e8b;
    font-weight: bold;
}
.menu_3 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 3px solid transparent;
}
.menu_3 a:hover {
    border-bottom: 3px solid salmon;
}
.menu_3 a.active {
    border-bottom: 3px solid salmon;
}

.hero {
    height: 280px;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: 0 -260px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightblue;
}

.content {
    padding: 20px;

}
.content h2 {
    font-size: 28px;
    font-weight: bold;
}
.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}
.content .penulis a {
    color: salmon;
    text-decoration: none;

}
.content p {
    margin-bottom: 20px;
    font-size: 15px;
    text-align: justify;
    text-indent: 45px;
}

/* Footer */
.footer {
    background-color: #333;
    padding:10px;
}
.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}