body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 20px
}
.header .judul {
    font-size: 48px;
    font-weight: bold;
}


.menu_3 {
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    background-color: #0b6e8b;
}
.menu_3 a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 3px solid transparent;
}
.menu_3 a:hover {
    border-bottom: 3px solid white;
}
.menu_3 a.active {
    border-bottom: 3px solid white;
}

.hero {
    height: 250px;
    background-image: url(img/hero.jpg);
}