.menu{
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    background-color: #0b6e8b;
}
.menu a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 3px solid transparent;
}
.menu a:hover{
    border-bottom: 3px solid red;
}
.menu a.active{
    border-bottom: 3px solid red;
}